.config {
    display:none;
}

/* ==========================================================================
   Services
   ========================================================================== */


.page-service .card .iconic {
    margin: auto;

}
.theme-red .fg-theme {
    margin: auto;
}

.ti-layout-automation:before{
    content: "\e665";

}
.ti-layout-web:before{
    content: "\e6ec";
}

.ti-layout-api:before {
    content: "\e692";
}


/* ==========================================================================
   ========================================================================== */
   .grid-item .img-place {
    min-height: 14em;
   }