<div class="author">
    <h1 class="author__heading">Hi, I am Louis.</h1>
    <p class="author__body">These are some of my music reccomendations</p>
  </div>
  
  <img src="/img/HipHop-Art-Cover.jpg" alt="now this is 90's hiphop" class="hero-image">
  
  <section class="articles">
    
  </section>
  <ul class="article-ul">
    <li>
        <a href="#">
            <span>Post Title</span>
            <span class="article-list__date">Date</span>
        </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts </a>